body {
    background-color: #eff1f2;
    font-family: sans-serif;
}

.wrap{
	background: blue;
	width: 1000px;
	margin: 10px auto;
}

.action-btn{
	font-family: sans-serif;
	font-size: 15px;
	background: #22a4cf;
	color: white;
	border: white 3px solid;
	border-radius: 5px;
	padding: 12px 20px;
	margin-bottom: 100px;
}
 
/*bagian header*/
.wrap .header{
	background: green;
	/*height: 50px;*/
	padding: 20px 100px;
}
 
/*akhir header*/
 
.clear{
	clear: both;
}
 
.badan{
	height: 450px;
}
/*bagian sidebar*/
.wrap .badan .sidebar{
	background: yellow;
	float: left;	
	width: 25%;
	height: 100%;
}
 
/*akhir sidebar*/
 
.wrap .badan .content{
	background: chartreuse;
	float: left;
	height: 100%;
	width: 75%;	
}

.wrap .footer{
	background: Red;
	width: 98%;
	padding: 10px;
}




